# Dependencies
node_modules
__pycache__
.env
venv
.venv

# Build files
build
site

# Distribution files
dist

# Caches and logs
*.cpuprofile
*.log
*.tsbuildinfo
.cache
.eslintcache
__pycache__

# Examples
example
example.zip

# -----------------------------------------------------------------------------
# General
# -----------------------------------------------------------------------------

# Never ignore .gitkeep files
!**/.gitkeep

# macOS internals
.DS_Store

# Temporary files
TODO
tmp

# IDEs & Editors
.idea
*~