:root, [data-md-color-scheme="slate"] {
    --foi-green: #2a842d;
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: #121212;
  --md-default-fg-color: #cccccc;
  --md-primary-fg-color: #0066cc;
  --md-primary-fg-color--light: #3388ff;
  --md-primary-fg-color--dark: #004499;
}

.md-header >*, .md-tabs {
    background: none;
}

.md-header__button {
    color: var(--md-default-fg-color--light);
}

.md-header, .md-tabs {
    background-color: rgba(5, 5, 5, 0.90);
}

.foi-green {
    color: var(--foi-green);
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}