<script>
  // Override privacy plugin by using it's limitation
  const baseDomain = 'https://plausible.io';
  const scriptPath = '/js/plausible.js';

  const script = document.createElement('script');
  script.defer = true;
  script.setAttribute('data-domain', 'security.foi.ge');
  script.src = baseDomain + scriptPath;  // Set the src based on the base domain and path variables

  // Append the script to the head
  document.head.appendChild(script);

  // Define the Plausible function for tracking
  window.plausible = window.plausible || function () { (window.plausible.q = window.plausible.q || []).push(arguments) };


</script>